:root{
	--link-color : #333;
	--link-hover-color : #4CAF50;
	--link-hover-bg-color : #e7e7e7;
}

a{
	color: var(--link-color);
	padding: .5rem;
	border-radius: 5px;
	&:hover{
		color : var(--link-hover-color);
	}
}

body{
	background-color: #f7f7f7;
}