:root{
	--link-color : #333;
	--link-selected-color : #4CAF50;
	--link-hover-bg-color : #e7e7e7;
}

a{
	font-size: inherit;
	color: var(--link-color);
	padding: .5rem;
	border-radius: 5px;
	&.selected{
		color : var(--link-selected-color);	
	}
}

.hide{
	display: none;
}

body{
	background-color: #f7f7f7;
}